{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Registration Form </title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/registration.css'%}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styles/home.css'%}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="path/to/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="{% static 'js/home.js'%}"></script>
</head>

<body>

  <div class="topnav" id="myTopnav" style="margin-bottom: 100px;">
    <ul>
      <div id="name">
        <h1>Car Pooling System</h1>
      </div>
    </ul>
    <ul id="rest">
      <ul><a href="http://127.0.0.1:8000/" class="active">Home</a></ul>
      <ul><a href="http://127.0.0.1:8000/searchmycar">Book Your Car</a></ul>
      <ul><a href="http://127.0.0.1:8000/allcars">Cars</a></ul>
      <ul><a href="http://127.0.0.1:8000/register">Register</a></ul>
      <ul><a href="http://127.0.0.1:8000/login">Login</a></ul>
      <ul><a href="http://127.0.0.1:8000/contact">Contact us</a></ul>

    </ul>
  </div>

  <div>
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <center>{{ message }}</center>

    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div class="cssanimation sequence fadeInBottom">

    <div class="container1">
      <div class="title">
        <h3>Sign Up Into New Account</h3>
      </div>

      <div class="content">
        <form action="" method="post">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" name="fname" placeholder="Enter your name" required="">
            </div>

            <div class="input-box">
              <span class="details">Username</span>
              <input type="text" name="usern" placeholder="Enter your username" required="">
            </div>

            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" name="password" placeholder="Enter your password" required="">
            </div>

            <div class="input-box">
              <span class="details">Email</span>
              <input type="email" name="email" placeholder="Enter your email" required="">
            </div>

            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" name="mobile" placeholder="Enter your number" required="">
            </div>

            <div class="gender-details">
              <input type="radio" name="gender" value="Male" id="dot-1">
              <input type="radio" name="gender" value="Female" id="dot-2">
              <input type="radio" name="gender" value="Prefer not to say" id="dot-3">

              <span class="gender-title">Gender</span>

              <div class="category">
                <label for="dot-1">
                  <span class="dot one"></span>
                  <span class="gender">Male</span>
                </label>

                <label for="dot-2">
                  <span class="dot two"></span>
                  <span class="gender">Female</span>
                </label>

                <label for="dot-3">
                  <span class="dot three"></span>
                  <span class="gender">Prefer not to say</span>
                </label>
              </div>
            </div>

            <div class="input-box" style="width: 100%;">
              <span class="details">Address</span>
              <input type="text" name="address" placeholder="Enter your address" required="">
            </div>

            <div class="input-box">
              <label for="inputState">State</label>
              <select class="form-control" name="state" id="inputState" style="border:1px solid black">
                <option value="SelectState">Select State</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Orissa">Orissa</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttaranchal">Uttaranchal</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
                <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadeep">Lakshadeep</option>
                <option value="Pondicherry">Pondicherry</option>
              </select>
            </div>
            <div class="input-box">
              <label for="inputDistrict">City</label>
              <select class="form-control" id="inputDistrict" name="city" style="border:1px solid black">
                <option value="">Select City </option>
              </select>
            </div>

            <!--<div class="input-box">
              <span class="details">City</span>
              <input type="text" name="city" placeholder="Enter your City" required="">
            </div>
  
            <div class="input-box">
              <span class="details">State</span>
              <input type="text" name="state" placeholder="Enter your State" required="">
            </div>-->
          </div>

          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
        <p style="text-align: center;">Or <a href="http://127.0.0.1:8000/login" id="link">LOGIN</a> here</p>
      </div>
    </div>



  </div>



  <div class="footer">
    <div class="section1">
      <h3>Contact us</h3>
      <i class="fa fa-home">Address No: XXXXXXX Street</i></br>
      <i class="fa fa-phone">Mobile: 1234567890</i></br>
      <i class="fa fa-envelope">Email: abc@gmail.com</i></br>
    </div>


    <div class="section1">
      <h3>Project Links</h3>
      <a href="{% url 'home' %}">Home</a></br>
      <a href="{% url 'contact' %}">Contact</a></br>
      <a href="{% url 'login' %}">Login</a></br>
      <a href="{% url 'register' %}">Register</a></br>
    </div>

  </div>

</body>

</html>